.message {
  margin-top: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 100%;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  .text {
    height: auto;
    max-width: 90%;
    word-wrap: break-word;
    p {
      position: relative;
      margin-top: 5px;
      margin-left: 5px;
    }
  }

}